h2 {
  font-size: 23px;
  font-weight: 300;
  margin-top: 2rem;
  /* margin-left: 2rem; */
  padding: .5rem;
}

.aboutContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.aboutContainer p {
  max-width: 60vw;
  padding-top:1rem;
}

.headshotContainer  {
  display: flex;
  justify-content: center;
  height: 4000px;
  max-height: 60vh;
  background-image: url('../assets/donnaHeadshot.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 2rem;  
}


.quote{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 6rem;

}

@media (min-width: 320px) {
  .aboutContainer p{
    max-width: 100vw;
  }
}
@media (min-width: 480px){

}
@media  (min-width:768px) {
  .aboutContainer p{
    max-width: 60vw;
  }
}
@media  (min-width:1200px) {}
