.picContainer{
  margin: 0 auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  max-height: 300px;
  width: 570px;
}

.picContainer img {
  max-height: 300px;

}

.CarouselContainer{

}
