body{
  padding: 0;
  color:gray;
}

h1, h2, h3, h4, h5, h6, p, div, a {
  padding: 0;
  margin: 0;
}

.brand {
  color:grey;
  padding-left:2rem;
  align-self: center
}

.contactContainer p{
  padding:1rem;
}

.contactContainer h3 {
  padding:3rem 1rem;
}


.headerOuterContainer{
  text-align: right;
  padding-right: 1rem;
  width:100vw;
  display:flex;
  justify-content: space-between;
}
.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.headerOuterContainer li{
  list-style: none;

}

.headerOuterContainer a{
  text-decoration: none;
  color:gray,
}

.headerOuterContainer a:hover{
  cursor: pointer;
  text-decoration: underline;
  color: #a8a8a8;
}

.navLinks{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  margin: 0;
}
.hamburger{
  align-self: flex-end;
}
.hamburgerUl{
  position:absolute;
  top:50px;
  right: 0;
  text-align: center;
  z-index: 2000;
  
}
.hamburgerUl a{
  font-size:16px;
  color:gray;
  z-index: 2000;
}
.hamburgerUl li{
  width:20rem;
  background: #f2f2f2;
  padding:  1rem 0;
}
.navLinks li {
  padding: 0 .5rem;
  color:gray;
}

.navLinks li:hover {
  text-decoration: underline;
  color: #a8a8a8;
}

.hamburgerUl a:active{
  text-decoration: none !important;
  color:black;
}

.navLinks a{
  text-decoration: none;
  font-size:16px;
  align-self: center;
}

.App {
  text-align: center;
}

.headerContainer{
  /* width:100vw; */
  display: flex;
  justify-content: space-between;
}

.linksContainer{
  display: flex;
  align-self: center;
  /* align-self: flex-start; */
  flex-direction: row;
  padding-right: 2rem;
}

.header {
  display: flex;
  background-color: #f2f2f2;
  height: 50px;
  /* width:100vw; */
}


@media (min-width: 320px) {
  body{

  }
  .navLinks{
      display: none;
  }
  .hamburger{
    display: flex;
  }
  .hamburgerUl{
    /* display:flex; */
  }
 }

@media (min-width: 480px){
  body{

  }

}


 @media  (min-width:768px) {
   body{

   }
   .hamburger{
     display: none;
   }
   .hamburgerUl{
     display: none;
   }
   .navLinks{
     display: flex;
   }
 }

@media  (min-width:1200px) {
  body{

  }
}
