body{
  padding: 0;
}
/* h1{
  margin: 0;
} */

h1, h2, h3, h4, h5, h6, p, div, a {
  padding: 0;
  margin: 0;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.navLinks{
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
}

.navLinks li {
  padding: 0 .5rem;
}

.navLinks a{
  text-decoration: none;
}
.App {
  text-align: center;
}

.headerContainer{
  display: flex;
  flex-direction: row;
}

.header {
  background-color: #f2f2f2;
  height: 40px;
  /* padding: 25px; */

}
.header h1 {
    color: purple;
}
